body{
    background-color: rgb(26, 26, 26);
    margin: 0%;
}
.card{
    margin-top: 50px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: aqua;
    width:300px;
    height:400px;
    display: flex;
    justify-content:space-around;
    align-items: start;
}
input{
    padding: 5px;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    line-height: 2;
    width:200px;
    margin-left: 10px;
}
button{
    padding: 5px;
    margin-top: 35px;
    margin-right: 30px;
    width:30px;
    height: 30px;
    border-radius: 50%;
    border: none;
}