body{
    background-color: rgb(26, 26, 26);
    margin: 0%;
}
.card{
    margin-top: 50px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: aqua;
    width:300px;
    height:400px;
}
input{
    padding: 5px;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    line-height: 2;
    width:200px;
}
.row button{
    margin-top: 30px;
    width:38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    padding: 0;             
    overflow: hidden;  
    cursor: pointer;  
}
button img{
    align-items: center;
    width: 50%;          
    height: 50%;
    object-fit: contain;      
    border-radius: 50%;      
}
.row{
     display: flex;
    justify-content:center;
    align-items: start;
    gap: 8px;
}