body{
    background-color: rgb(26, 26, 26);
    margin: 0%;
}
.card{
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 50px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: linear-gradient(rgb(235, 229, 229),rgb(28, 28, 28));
    width:300px;
    height:450px;
}
input{
    padding: 10px;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    line-height: 2;
    width:200px;
}
.row button{
    margin-top: 35px;
    width:40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    padding: 0;             
    overflow: hidden;  
    cursor: pointer;  
}
button img{
    align-items: center;
    width: 50%;          
    height: 50%;
    object-fit: contain;      
    border-radius: 50%;      
}
.weather{
    margin: 0;
}
.weather p{
    margin: 0;
}
.row{
     display: flex;
    justify-content:center;
    align-items: start;
    gap: 8px;
}
#imm img{
    margin-top: 10px;
    width:150px;
}
.temp{
    color: aliceblue;
    font-size: 40px;
    font-weight:bold;
}
.humd{
    margin-top: 40px;
    font-size: 20px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.humd img{
    height: 50px;
    width:50px;
    margin: 5px;
}
.humd p{
    margin: 0;
}
.city{
    color: aliceblue;
    font-size: 30px;
    font-weight: 400;
    margin-top:5px;
}
.humdi{
    display: flex;
    justify-content: start;
}
.windy{
    display: flex;
    justify-content: start;
}
#huu,#wuu{
    font-size: large;
}
.con{
    margin-top: 10px;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}